.table {
  width: 600px;
  background-color: #f1f1f1;
  border-radius: 1em;
  padding: 1em;
  border-spacing: 5px;
  margin: 0 auto 2em;
  --green: green;
}

.table tbody td {
  padding: 0.5em;
  background-color: white;
}

.table tfoot td {
  font-weight: bold;
}

.total {
  color: var(--green);
}

.quantity button {
margin: 0 1em;
}

.button {
  font-size: 24px;
  padding: 0 1em;
}

