.products {
    margin: 50px auto 0;
    width: 1180px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0;
}

.products li {
    background-color: rgba(0, 0, 0, 4%);
    border-radius: 20px;
    text-align: left;
    padding: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product figure {
    margin: 1em;
}

.product img {
    width: 100%;
}

.caption {
    font-size: 0.6em;
}
